nav li {
  display: inline-block;
}
nav a {
  padding: 5px;
  text-decoration: none;
  color: var(--snips-black);
  transition: color 0.5s;
}

nav a:hover {
  color: var(--snips-white);
}

/* header styling */
header {
  padding: 1rem 2rem;
  margin: 10px;
  text-align: right;
  background-color: var(--snips-grey);
}

/* TODO: footer styling */
/* TODO: Look into css units w3schools */
